# 1. Write a Python program to find sum of elements in list?

In [5]:
total = 0
list1 = [2, 1, 17, 18, 11,10,12]
 
for ele in list1:
    total = total + ele


print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  71

# 2. Write a Python program to  Multiply all numbers in the list?

In [9]:
total = 1
list1 = [2, 1, 2,4,5]
 
for ele in list1:
    total = total * ele

print("mul of all elements in given list: ", total)

mul of all elements in given list:  80

# 3. Write a Python program to find smallest number in a list?

In [14]:
sm = None
list1 = [2, 1, -2,4,-5]
for i in list1:
    if sm == None:
        sm = i
    elif i < sm:
        sm = i

print(f"Smallest number is : {sm}")

Smallest number is : -5

# 4. Write a Python program to find largest number in a list?

In [17]:
sm = None
list1 = [2, 1, -2,4,-5,100,250]
for i in list1:
    if sm == None:
        sm = i
    elif i > sm:
        sm = i

print(f"larget number is : {sm}")

larget number is : 250

# 5. Write a Python program to find second largest number in a list?

In [24]:
list1 = [2, 1, -2,4,-5,100,250]
list1.sort(reverse=True)
list1

[250, 100, 4, 2, 1, -2, -5]

In [23]:
list1[1]

100

# 6. Write a Python program to find N largest elements from a list?

In [29]:
list1 = [2, 1, -2,4,-5,100,250]
list1.sort(reverse=True)
list1

[250, 100, 4, 2, 1, -2, -5]

In [41]:
n = int(input("Enter n larget elements"))

Enter n larget elements1

In [42]:
list1[:n]

[250]

In [31]:
list1[3:]

[2, 1, -2, -5]

# 7. Write a Python program to print even numbers in a list?

In [43]:
list1 = [2, 1, -2,4,-5,100,250]
for i in list1:
    if i % 2 == 0:
        print(i)

2
-2
4
100
250

# 8. Write a Python program to print odd numbers in a List?

In [44]:
list1 = [2, 1, -2,4,-5,100,250]
for i in list1:
    if i % 2 != 0:
        print(i)

1
-5

# 9. Write a Python program to Remove empty List from List?

In [51]:
sample = [5, 6, [], 3, [], [], 9, [2,3]]

res = [ele for ele in sample if ele != []]
print (res)

[5, 6, 3, 9, [2, 3]]

# 10. Write a Python program to Cloning or Copying a list?

In [52]:
def Cloning(li1):
    li_copy = li1[:]
    return li_copy

In [53]:
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("org:", li1)
print("clone:", li2)

org: [4, 8, 2, 10, 15, 18]
clone: [4, 8, 2, 10, 15, 18]

# 11. Write a Python program to Count occurrences of an element in a list?

In [54]:
def countX(lst, x):
    return lst.count(x)

8 has occurred 5 times

In [57]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
rep = []
for i in lst:
    if i not in rep:
        print('{} has occurred {} times'.format(i, countX(lst, i)))
        rep.append(i)

8 has occurred 5 times
6 has occurred 1 times
10 has occurred 2 times
20 has occurred 1 times