# Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [7]:
def is_symmetrical(number):
    number = str(number)
    rev = number[::-1]
    if rev==number:
        return True
    else:
        return False

In [8]:
is_symmetrical(7227)

True

In [9]:
is_symmetrical(12567)

False

In [10]:
is_symmetrical(44444444)

True

In [11]:

is_symmetrical(9939)

False

In [12]:
is_symmetrical(1112111)

True

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [26]:
def multiply_nums(string):
    ls = string.split(",")
    total = 1
    for i in ls:
        total *= int(i.strip())
    return total

In [27]:
multiply_nums("2, 3")

6

In [28]:
multiply_nums("1, 2, 3, 4")

24

In [29]:
multiply_nums("54, 75, 453, 0")

0

In [30]:
multiply_nums("10, -2")

-20

# Question 3
Create a function that squares every digit of a number.

In [47]:
def square_digits(number):
    string = str(number)
    l = []
    for i in string:
        l+= str(int(i)**2)
    l1 = ''.join(l)
    return int(l1)

In [48]:
n = square_digits(9119)

In [49]:
type(n)

int

In [50]:
square_digits(2483)

416649

In [51]:
square_digits(3212)

9414

# Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [57]:
def setify(test_list):
    res = []
    for i in test_list:
        if i not in res:
             res.append(i)
    return sorted(res)

In [58]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [59]:
setify([4, 4, 4, 4])

[4]

In [60]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [61]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
Create a function that returns the mean of all digits.

In [85]:
def mean(number):
    l = list(str(number))
    l=map(int, l)
    n = statistics.mean(l)
    return int(n)

In [86]:
mean(12345)

3

In [87]:
mean(41)

2

In [88]:
mean(666)

6