# Question1
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [13]:
def next_in_line(lst,num):
    if len(lst) > 0 :
        lst.append(num)
        del lst[0]
        return lst
    else:
        return  "No list has been selected"

In [14]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [15]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [16]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [17]:
next_in_line([], 6)

'No list has been selected'

# Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [6]:
def get_budgets(bud_dict):
    total = 0
    for d in bud_dict:
        total += d['budget']
    return total

In [7]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [8]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

62600

# Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

In [11]:
def alphabet_soup(string):
    string_s = sorted(string)
    return ''.join(string_s)

In [12]:
alphabet_soup("hello")

'ehllo'

In [13]:
alphabet_soup("edabit")

'abdeit'

In [28]:
 alphabet_soup("hacker")

'acehkr'

In [15]:
alphabet_soup("geek")

'eegk'

In [16]:
alphabet_soup("javascript")

'aacijprstv'

# Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?

In [24]:
def compound_interest(P, t, r, n):

    for period in range(t):
        amount = P*(pow((1+r/n), n*(period+1)))
        
    return round(amount,2)

In [25]:
compound_interest(100, 1, 0.05, 1)

105.0

In [26]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [27]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

# Question5
Write a function that takes a list of elements and returns only the integers.

In [29]:
def return_only_integer(ls):
    n = []
    for l in ls:
        if type(l) == int:
            n.append(l)
    return n

In [30]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [31]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [32]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [33]:
return_only_integer(["String",  True,  3.3,  1])

[1]