# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'
filee = open('test.txt','w')
filee.write(test1)

44

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

In [4]:
# There is no difference

# 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

In [6]:
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [9]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(50),author varchar(50), year int)')
conn.commit()

# 5. Read books.csv and insert its data into the book table.

In [10]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

# 6. Select and print the title column from the book table in alphabetical order.

In [11]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

# 7. From the book table, select and print all columns in the order of publication.

In [12]:
c.execute('select title, author,year from books order by year')
df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  China MiÃ©ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [15]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")

In [16]:
rows = engine.execute('select * from books')
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [17]:
!pip3 install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 175.8/175.8 KB 3.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from deprecated>=1.2.3->redis) (1.13.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from packaging>=20.4->redis) (3.0.7)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4

In [2]:
#!pip install redis

Requirement already satisfied: redis in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (4.1.4)
Requirement already satisfied: deprecated>=1.2.3 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from deprecated>=1.2.3->redis) (1.13.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/user/anaconda3/envs/fullstack/lib/python3.10/site-packages (from packaging>=20.4->redis) (3.0.7)

In [2]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

/tmp/ipykernel_65624/19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

# 10. Increment the count field of test and print it.